:root {
    --colorBoton: rgb(223, 221, 238);
}

/* Fondo */

.container {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #421C5F, #013379);
    justify-content: center;
    align-items: center;
}

.circle__1::before {
    content: '';
    position: fixed;
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #F72585, #4CC9F0);
    border-radius: 50%;
    top: -5vh;
    left: 20vw;
}

.circle__2::before {
    content: '';
    position: fixed;
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, #FB5607, #8338EC);
    border-radius: 50%;
    bottom: -20vh;
    left: -10vw;

}

.circle__3::before {
    content: '';
    position: fixed;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #F72585, #4CC9F0);
    border-radius: 50%;
    bottom: 5vh;
    right: 3vw;


}

.circle__4::before {
    content: '';
    position: fixed;
    width: 350px;
    height: 350px;
    background: linear-gradient(45deg, #FB5607, #8338EC);
    border-radius: 50%;
    top: -2vh;
    right: -5vw;

}

/* Frame */

.frame {
    display: flex;
    position: absolute;
    min-width: 400px;
    width: 40%;
    height: min-content;
    padding-bottom: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.container-form {
    display: grid;
    grid-template-columns: 1fr 30px;
    height: min-content;
    padding: 5px;
    padding-left: 35px;
    padding-top: 8%;
}

.form {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25px 1fr repeat(3, 25px);
    grid-column: 1/ span 1;
    grid-row: 1/ -1;
}

.inputs {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    grid-auto-rows: 25px;
    gap: 10px;
}

input {
    width: 100%;
    min-width: 110px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    text-align: center;
}

.option {
    background-color: var(--colorBoton);
}

.btn-send {
    grid-column: 1/ span 2;
    width: 100px;
    height: 30px;
    background-color: var(--colorBoton);
}


#select {
    background-color: var(--colorBoton);
}

.respuesta {
    position: relative;
    text-align: center;
    width: 380px;
    align-self: center;

}

@media only screen and (max-width: 850px) {

    /* For mobile phones: */
    .frame {
        width: 95vw;
        flex-wrap: wrap;
        align-items: center;
        top: 50px;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    .form {
        padding: 10px;
    }

    .respuesta {
        position: relative;
        top: 0;
        width: auto;
        padding-bottom: 60px;
    }

    .circle__1::before {
        content: none;
    }

    .circle__3::before {
        content: none;
    }

}
